/* ! -----------------------------------V--V-- Home Styles --V--V------------------------------------------- */

.homeContent {
    height: 100vh;
    /* background-color: rgb(65, 65, 65); */
    background: linear-gradient(black, black, black, rgb(65, 65, 65))
}

.topHome {
    display: flex;
    justify-content: center;
}

.thing1 {
    /* background-color: tomato; */
    background-image: url(./fooddood.png);
    background-position: center;
    background-size: cover;
}

.thing2 {
    /* background-color: lightskyblue; */
    background-color: white;
    background-image: url(./quizzapp.png);
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.thing3 {
    /* background-color: lightgreen; */
    background-image: url(./spaceTree\ \(1\).png);
    background-size: 250px 350px;
    background-repeat: no-repeat;
    background-position: center;
}

.thing4 {
    background-image: url(./4-23-tree.png);
    background-size: 250px 350px;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* justify-content: space-evenly; */
}

.itemContainer {
    display: flex;
    width: 90%;
    /* height: 80vh; */
    margin: 0 25px;
    padding: 15px 20px;
    justify-content: space-around;
    /* background-color: rgb(175, 175, 175); */
    background-color: rgb(68, 68, 68);
    border-radius: 3px;
    box-shadow: 3px 5px 10px rgb(31, 31, 31);
    /* border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px; */
}

.playing {
    position: absolute;
    background-image: url(./playing2-crop.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 45px;
    left: 7px;
    height: 125px;
    width: 125px;
    z-index: 1;
}

.spinTri {
    position: absolute;
    top: 75px;
    left: 25px;
    width: 75px;
    height: 75px;
    z-index: 2;
}

.headerBox::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 60px;
    left: 15px;
    background-color: black;
    /* box-shadow: 0px 0px 5px white; */
    animation: pulse 5s alternate infinite;
}

@keyframes pulse {
    from{box-shadow: 0px 0px 0px white;}
    to{box-shadow: 0px 0px 15px white;}
}

.headerBox {
    width: 80%;
    height: 100px;
    margin: 20px;
    border-radius: 7px;
    color: rgb(202, 202, 202);
    background-color: rgb(36, 36, 36);
    padding: 10px 20px;
}

.item {
    /* background-color: rgb(173, 173, 173); */
    margin: 10px;
    width: 250px;
    height: 350px;
    border-radius: 7px;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.item:hover {
    box-shadow: 1px 1px 1px black;
    cursor: pointer;
}

.itemTop {
    /* visibility: hidden; */
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    background-color: rgb(122, 122, 122);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-bottom: 1px solid black;

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 200ms ease-in;
    text-align: center;
}

.item:hover > .itemTop {
    visibility: visible;
    transform: scaleY(1);
    transform-origin: top;
}

.itemBody {
    width: 80%;
    height: 70%;
    margin-top: 10%;
    border-radius: 5%;
    color: white;
    background-color: rgb(129, 129, 129);

    transform: scale(0);
    transform-origin: bottom;
    transition: transform 200ms ease-in;
    text-align: center;
    padding-top: 10px;
}

.item:hover > .itemBody {
    visibility: visible;
    transform: scale(1);
    transform-origin: bottom;
}

.tri1 {
    animation: triRot 5s linear infinite;
    transform-origin: center;
}

.tri2 {
    animation: triRot 4s linear infinite;
    animation-delay: 1s;
    transform-origin: center;
}

.tri3 {
    animation: triRot 3s linear infinite;
    animation-delay: 2s;
    transform-origin: center;
}

.tri4 {
    animation: triRot 2s linear infinite;
    animation-delay: 3s;
    transform-origin: center;
}

.tri5 {
    animation: triRot 1s linear infinite;
    animation-delay: 4s;
    transform-origin: 134px 115px;
}

@keyframes triRot{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.tri:hover {
    stroke: white;
}